# Core
django==3.1.12
djongo==1.3.7
python-dotenv==1.1.0
djangorestframework==3.12.4
# UI 
django-admin-soft-dashboard==1.0.12
# Deployment
whitenoise
gunicorn

# Utilities
daphne==4.1.2
requests==2.32.3
channels<4
django-filter
django-cors-headers
django-allauth
django-axes==5.13.0
django-otp
django-two-factor-auth
social-auth-app-django
geopy
arrow
opencage
pymongo
pytz
unidecode
phonenumbers
str2bool
uvicorn
dnspython
sqlparse==0.2.4

